Origin: https://eliocamp.github.io/codigo-r/2018/09/multiple-color-and-fill-scales-with-ggplot2/

Datasets:
- https://psl.noaa.gov/repository/entry/show?entryid=d3422997-979a-4abb-9bf2-503a80bb647f
- https://psl.noaa.gov/repository/entry/show/PSD+Climate+Data+Repository/Public/PSD+Datasets/PSD+Gridded+Datasets/ncep.reanalysis.derived/surface/slp.mon.mean.nc?entryid=synth%3Ae570c8f9-ec09-4e89-93b4-babd5651e7a9%3AL25jZXAucmVhbmFseXNpcy5kZXJpdmVkL3N1cmZhY2Uvc2xwLm1vbi5tZWFuLm5j&output=html.info

In [1]:
import sys
!conda install --yes --prefix {sys.prefix} netcdf4

Channels:
 - defaults
 - conda-forge
 - jetbrains
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [8]:
import netCDF4
import numpy as np
import pandas as pd

In [3]:
nc = netCDF4.Dataset("../data/air.mon.mean.nc")
nc

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4_CLASSIC data model, file format HDF5):
    description:  Data from NCEP initialized reanalysis (4x/day).  These are interpolated to pressure surfaces from model (sigma) surfaces.
    platform: Model
    Conventions: COARDS
    NCO: 20121012
    history: Mon Jul  5 21:45:36 1999: ncrcat air.mon.mean.nc /Datasets/ncep.reanalysis.derived/pressure/air.mon.mean.nc /dm/dmwork/nmc.rean.ingest/combinedMMs/air.mon.mean.nc
/home/hoop/crdc/cpreanjuke2farm/cpreanjuke2farm Tue Oct 17 20:07:08 1995 from air.85.nc
created 95/02/06 by Hoop (netCDF2.3)
Converted to chunked, deflated non-packed NetCDF4 2014/09
    title: monthly mean air from the NCEP Reanalysis
    dataset_title: NCEP-NCAR Reanalysis 1
    References: http://www.psl.noaa.gov/data/gridded/data.ncep.reanalysis.derived.html
    dimensions(sizes): level(17), lat(73), lon(144), time(917)
    variables(dimensions): float32 level(level), float32 lat(lat), float32 lon(lon), float64 time(time), float32 air(time, level, lat, lon)
    groups:

In [4]:
nc.variables.keys()

dict_keys(['level', 'lat', 'lon', 'time', 'air'])

In [11]:
lat = nc.variables['lat'][:]
lon = nc.variables['lon'][:]
level = nc.variables['level']
time = nc.variables['time']
dtime = netCDF4.num2date(time[:], time.units)
air = nc.variables['air'][:]

In [12]:
len(lat), len(lon), len(level), len(dtime), len(air)

(73, 144, 17, 917, 917)

In [47]:
time = 0 # TODO: 1998-01-01
level = 2 # TODO: 850
df = pd.DataFrame(air[time, level, :, :], index=lat, columns=lon).stack().reset_index()
df.columns = ["lat", "lon", "air"]
df

        lat    lon        air
0      90.0    0.0 -26.939995
1      90.0    2.5 -26.939995
2      90.0    5.0 -26.939995
3      90.0    7.5 -26.939995
4      90.0   10.0 -26.939995
...     ...    ...        ...
10507 -90.0  347.5  -7.249992
10508 -90.0  350.0  -7.249992
10509 -90.0  352.5  -7.249992
10510 -90.0  355.0  -7.249992
10511 -90.0  357.5  -7.249992

[10512 rows x 3 columns]

In [36]:
np.array(lat)

array([ 90. ,  87.5,  85. ,  82.5,  80. ,  77.5,  75. ,  72.5,  70. ,
        67.5,  65. ,  62.5,  60. ,  57.5,  55. ,  52.5,  50. ,  47.5,
        45. ,  42.5,  40. ,  37.5,  35. ,  32.5,  30. ,  27.5,  25. ,
        22.5,  20. ,  17.5,  15. ,  12.5,  10. ,   7.5,   5. ,   2.5,
         0. ,  -2.5,  -5. ,  -7.5, -10. , -12.5, -15. , -17.5, -20. ,
       -22.5, -25. , -27.5, -30. , -32.5, -35. , -37.5, -40. , -42.5,
       -45. , -47.5, -50. , -52.5, -55. , -57.5, -60. , -62.5, -65. ,
       -67.5, -70. , -72.5, -75. , -77.5, -80. , -82.5, -85. , -87.5,
       -90. ], dtype=float32)